{% extends "base.html" %}
{% block title %}
    TaskLaunchr - Delete List
{% endblock title %}
{% block content %}
    <main class="delete-page">
        <div>
            <h1>Are you sure you want to delete this list?</h1>
            <form method="post">
                {% csrf_token %}
                <button type="submit" class="button delete delete-button">Delete</button>
                <a href="{% url 'todo_list_detail' id %}"
                   class="button cancel delete-button">Cancel</a>
            </form>
        </div>
    </main>
{% endblock content %}
