{% extends "base.html" %}
{% block title %}
    TaskLaunchr - Detail View
{% endblock title %}
{% block content %}
    <main>
        <div>
            <h1>{{ todolist.name }}</h1>
            <p>{{ todolist.description }}</p>
            <div class="actions">
                <a href="{% url 'todo_item_create' todolist.id %}" class="button">+ New Item</a>
                <a href="{% url 'todo_list_update' todolist.id %}" class="button">Edit List</a>
                <a href="{% url 'todo_list_delete' todolist.id %}" class="button delete">Delete List</a>
            </div>
            <h2>Tasks</h2>
            {% if todolist.items.exists %}
                <table>
                    <thead>
                        <tr>
                            <th>Completed</th>
                            <th>Task</th>
                            <th>Notes</th>
                            <th>Due Date</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in todolist.items.all|dictsort:"due_date" %}
                            <tr>
                                <td>
                                    <input type="checkbox" {% if item.completed %}checked{% endif %} disabled>
                                </td>
                                <td>
                                    <a href="{% url 'todo_item_update' item.id %}">{{ item.task }}</a>
                                </td>
                                <td>{{ item.notes }}</td>
                                <td>{{ item.due_date }}</td>
                                <td>
                                    <a class="table-link" href="{% url 'todo_item_update' item.id %}">Edit</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>You don't have any tasks yet.</p>
            {% endif %}
        </div>
    </main>
{% endblock content %}
