{% extends "base.html" %}
{% load static %}
{% block title %}
    TaskLaunchr - Login
{% endblock title %}
{% block content %}
    <main>
        <div>
            <h1>Login</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Login</button>
            </form>
            <p>
                <a href="{% url 'password_reset' %}">Forgot your password?</a>
            </p>
        </div>
    </main>
{% endblock content %}
