body {
    font-family: Helvetica, sans-serif;
    padding: 1%;
    margin: 0;
    line-height: 1.6;
}

.logo {
    font-weight: 600;
    font-size: 22px;
}

main {
    padding: 16px;
}

header {
    margin-bottom: 50px;
}

footer {
    padding: 16px;
    font-weight: 575;
    background-color: #1a1a1a;
    color: #FFFAFA;
    margin-top: 50px;
    text-align: center;
}

h1 {
    color: #1a1a1a;
    font-size: 1.6em;
}

h2 {
    color: #4B4B4B;
    font-size: 1.4em;
}

.website-header {
    display: flex;
    justify-content: space-between;
    background-color: #1a1a1a;
    color: #FFFAFA;
    padding: 1em;
    align-items: center;
    flex-wrap: wrap;
    gap: 1em;
}

.nav-list {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    padding: 0;
    margin: 0;
    gap: 1em;
    flex-wrap: wrap;
}

.nav-item {
    margin: 0;
}

.nav-link {
    color: white;
    font-weight: 550;
    text-decoration: none;
    color: #FFFAFA;
    transition: color 0.3s ease;
}

.nav-link:hover, .nav-link:focus {
    color: #D3D3D3;
}

.table-link {
    text-decoration: none;
    color: #800000;
    transition: color 0.3s ease;
}

.table-link:hover, .table-link:focus {
    color: #2E2E2E;
}

table {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14.5px;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 16px;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    text-align: left;
    background-color: #FFFAFA;
    color: #2E2E2E;
}

th, td {
    padding: 8px;
    border: 1px solid gray;
}

button {
    font-family: Helvetica, sans-serif;
    margin: 8px 0;
    padding: 8px 16px;
    background: #dfe1e5;
    font-size: 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

button:hover, button:focus {
    color: #081c15;
    background-color: #b3d89c;
}

#delete-btn:hover, #delete-btn:focus {
    background-color: #a71e34;
    color: whitesmoke;
}

#random-image-container {
    width: 100%;
    height: 400px;
    overflow: hidden;
    margin: 50px 0px;
    border-radius: 2px;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

#random-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

@media (max-width: 768px) {
    .website-header {
        flex-direction: column;
        align-items: flex-start;
    }
    .nav-list {
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5em;
    }
    .nav-link {
        font-size: 1.2em;
    }
}
